<!-- <can-detail-view [detailViewConfig]="detailViewData"></can-detail-view> -->
<can-detail-view [detailViewConfig]="detailViewData" ></can-detail-view>
<br />
<br />
<!-- <can-tab-view [tabViewConfig]="tabViewConfig" *ngIf="tabViewConfig"></can-tab-view> -->
<app-products></app-products>