<!-- <can-detail-view [detailViewConfig]="detailViewData"></can-detail-view> -->
<can-detail-view [detailViewConfig]="detailViewData" (getData)="onGetData($event)"></can-detail-view>
<br />
<br />
<!-- <can-tab-view [tabViewConfig]="tabViewConfig" *ngIf="tabViewConfig"></can-tab-view> -->
<ng-container *canValidatePermission="configurationPermission">
    <app-configurations [projectId]="projectId"></app-configurations>

</ng-container>