<div fxFlex="100%" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="start" style="margin-top: 20px;">
    <div fxFlex="100%" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="start" style="margin-top: 20px;">
        <div fxFlex="50%" >
    <app-request-payment [order] ='order' [paidAmount] = 'paidAmount'></app-request-payment>
        </div>
        <div fxFlex="50%" >
            <div class="modelButton">
                <can-button 
            [buttonConfig]="recordPaymentBtnConfig"
            (click)="openPostModal()"
            ></can-button>
            </div>
            <!-- <app-record-payment [order] ='order' ></app-record-payment> -->
    </div>
</div>

<br />
    <app-order-transactions [order] ="order"></app-order-transactions>
</div>