<can-form [formConfig]="formData" (formSubmitted)="formSubmitted($event)"></can-form>
<!-- <can-loader *ngIf="!formStepperConfig"></can-loader>
<can-form-stepper [formStepperConfig]="formStepperConfig" (formSubmitted)="formSubmitted($event)" *ngIf="formStepperConfig"></can-form-stepper> -->
