<div *ngFor="let item of orderItems">
<div *ngIf="item.products.length">
    <h2 class="category">{{item.category | titlecase}}</h2>
<app-package-details [dataSource] = "item.products"></app-package-details>
</div>
</div>
<!-- <can-table  [tableConfig]="tableConfig" ></can-table> -->