<div class="modelButton">
    <can-button
        [buttonConfig]="postUpdatesButtonConfig"
        (click)="openPostModal()"
    ></can-button>
</div>
<can-table  [tableConfig]="tableConfig"></can-table>
