
<div fxFlex="100%" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="start" style="margin-top: 20px;">
<div class="customer-heading">
<h1 style="float: left;">{{user.name}} </h1>
<h2 style="float: right; text-transform: capitalize;">{{user.status}}</h2>
</div>
    <div fxFlex="100%" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="start" style="margin-top: 20px;">
   <div fxFlex="30%" class="detailStyle">
       <app-basic-info-card [userId]="userId"></app-basic-info-card>
   </div>
   
   
   <div fxFlex="30%" class="detailStyle">
      <app-stats [userId]="userId"></app-stats>
   </div>
   
   <div fxFlex="30%" class="detailStyle">
       <app-goals [userId]="userId"></app-goals>
   </div>
   
   </div>
   
   <br />
   <br />
   <br />
   <div>
       <can-tab-view [tabViewConfig]="tabViewConfig" *ngIf="tabViewConfig"></can-tab-view>
   </div>

   
</div>