<div>

<div class="comment-heading">
    <h1>Comments</h1>

</div>
<div>
    <form>
        <div class="form">
          <textarea class="comment-text" rows="8" cols="66" name="comment" [(ngModel)]="comment"></textarea>
        </div>
        <div>
            <can-button
            [buttonConfig]="saveButtonConfig"
            (click)="saveComment()"
          ></can-button>
        </div>
      </form>
</div>

<can-loader *ngIf="!previousComments"></can-loader>
<div *ngIf="previousComments && previousComments.length" class="previous-comments">
    <h2>Previous Comments</h2>
    <div *ngFor="let comment of previousComments" class="previous-comments-data">
        <h3 class="user-name">{{comment.user.name}}</h3>
        <p>{{comment.comment}}</p>
        <p>{{comment.createdAt | date:'d-MMM-y, h:mm:ss a'}}</p>
    </div>
</div>
</div>