.comment-text{
    border-radius: 8px;
    background-color: #f3f3f3;
    border: none;
    resize: none;
    margin: 10px 0px 20px 0px;
}
.comment-heading{
    margin: 10px 0px 30px 0px;
}

.user-name{
    text-transform: capitalize;
}

.previous-comments{
    display: inline-block;
}
.previous-comments-data{
    border-bottom: 1px solid #b7b7b7;
    margin: 30px 0px 10px 0px;
}