<can-detail-view [detailViewConfig]="detailViewData"></can-detail-view>
<!-- <app-suppliers [businessId]='businessId'></app-suppliers> -->
<can-tab-view [tabViewConfig]="tabViewConfig" *ngIf="tabViewConfig"></can-tab-view>
