<diV fxFlex="100%" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="start" style="margin-top: 20px;">
 <div fxFlex="100%" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="start" style="margin-top: 20px;">
<div fxFlex="30%" class="detailStyle">
    <app-customer-info [order]='order'></app-customer-info>
</div>


<div fxFlex="30%" class="detailStyle">
    <app-project-info [order]="order"></app-project-info>
</div>

<div fxFlex="30%" class="detailStyle">
    <app-order-info [order]="order"></app-order-info>
</div>

</div>

<br />
<br />
<app-items *ngIf="orderItems" [items]="orderItems"></app-items>
<br />
<br />
<app-transactions [order]="order"></app-transactions>
</diV>

