<!-- <h1 mat-dialog-title>
    {{title}}
  </h1> -->
  
  <div mat-dialog-content>
    <p>Are you sure?</p>
  </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onDismiss()">cancel</button>
    <button mat-raised-button color="primary" (click)="onConfirm()">confirm</button>
  </div>