// .custom-style .main-container .details-container .fields{
//     display: block;
//     width: 100% !important;
//     float: none !important;
// }
// .custom-style{
//     width: 250px;
// }

// .can-detail-style .main-container[_ngcontent-ibd-c21] .details-container[_ngcontent-ibd-c21] .fields[_ngcontent-ibd-c21] {
//     display: block;
//     width: 100% !important;
//     float: none;
// }