<!-- <can-detail-view [detailViewConfig]="detailViewData" *ngIf="detailViewData" class="previous-updates"></can-detail-view> -->

<can-card-fab-view [fabButtonConfig]="fabButtonConfig" [cardViewConfig]="cardViewConfig"></can-card-fab-view>
 <!-- <can-loader *ngIf="!detailViewData"></can-loader> -->
