<!-- <can-form [formConfig]="formData" (formSubmitted)="formSubmitted($event)"></can-form> -->
<!-- <div class=”button-wrap”>
  <input id=”upload” type=”file” placeholder="Upload CSV">
<div> -->

  <!-- <input type="file" name="default" id="default" class="border p-2"> -->

  <mat-form-field>
    <mat-label
    >Upload package details
    
  </mat-label>
    <!-- <ngx-mat-file-input  (change)="
    upload($event, control, docSpinner, removableInput, form)
  "  [multiple]="multiple" [accept]="csv" >
    </ngx-mat-file-input> -->
 </mat-form-field>
 <div>
  <can-button
  [disabled] = "!file"
  [buttonConfig]="uploadButtonConfig"
  (click)="uploadFile()"
></can-button>
</div>